<div class="globalAlert alert {{type}} hidden">{{message}}</div>
<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="#">Moment</a>
    <ul class="nav">
      <li><a href="#/recent">Recent</a></li>
      <li><a href="#/record"><i class="icon-plus-sign"></i> Record</a></li>
    </ul>
  </div>
</div>