<input class="fileInput hidden" type="file" name="filePath" accept="image/*">
{{#if fileData}}
  <div class="row">
    <div class="span12 imgContainer">
      <div class="actions">
        <a class="showDialog"><i class="icon-pencil"></i></a>
        <a class="clear"><i class="icon-remove"></i></a>
      </div>
      <img class="img-large img" src="{{fileData}}">
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="span12">
      <a class="btn btn-inverse showDialog" tabindex="2">
        <i class="icon-camera-retro"> <span>Add an Picture</span></i>
      </a>
    </div>
  </div>
{{/if}}
