<form class="record">
  <div class="row">
    <div class="span12">
      <input type="text" placeholder="What" name="title" class="input-xxlarge">
    </div>
  </div>
  <div class="imgViewContainer"></div>
  <div class="row">
    <div class="span12">
      <input class="pickdate input-xxlarge" type="text" name="date" placeholder="When">
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <input class="placeSuggest input-xxlarge" type="text" name="placeTitle" placeholder="Where">
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <button class="btn btn-success save">Record</button>
    </div>
  </div>
</form>