<div class="globalAlert alert"></div>
<header id="header-container" class="navbar navbar-fixed-top navbar-inverse"></header>
<div id="page-container"  class="container">
  <div class="row-fluid"></div>
</div>
<footer>
  <div class="container">
    Created by <a href="http://twitter.com/aheuermann">@aheuermann</a>
  </div>
</footer>
