<div class="row">
  <div class="span12">
    <h1>{{title}}</h1>
    <h3>{{placeTitle}}</h3>
    <h5 class="muted">{{dateFormat date}}</h5>
  </div>
</div>
<div class="row">
  <div class="span12">
    <img class="img-large" src="{{imgLink}}" style="max-height:500px" >
  </div>
</div>
<div class="row">
  <div class="span12"></div>
</div>
<div class="row last">
  <div class="span12">
    <div class="map"></div>
  </div>
</div>